## ===================================================
##
##  Drive and server configuration
##
## ===================================================

DRIVE1 /dev/sda
#DRIVE2 /dev/sdb

#SWRAID 1
#SWRAIDLEVEL 1

BOOTLOADER grub

# a hostname entry is required here
HOSTNAME debian-10

#PART  /boot  ext3  512M
#PART  lvm    vg0    50G
#LV  vg0  root  /     ext4  15G
#LV  vg0  swap  swap  swap   6G
#PART  lvm    vg1    all

#PART  /boot  ext3  512M
#PART  lvm    vg0    all
#LV  vg0  root  /     ext4  15G
#LV  vg0  swap  swap  swap   6G

PART  /boot  ext3  512M
PART  lvm    vg0    all
LV  vg0  root     /          ext4    15G
LV  vg0  swap    swap        swap     6G
LV  vg0  backup  /backup     ext4  1024G

# an image entry is required here
IMAGE /root/images/Debian-109-buster-64-minimal.tar.gz
