## ===================================================
##  Hetzner Online GmbH - installimage  -  Proxmox-VE
## ===================================================

DRIVE1 /dev/sda
#DRIVE2 /dev/sdb

#SWRAID 1
#SWRAIDLEVEL 1

BOOTLOADER grub

HOSTNAME host2.clihost.com

PART  /boot  ext3  512M
PART  lvm    vg0    50G
LV  vg0  root  /     ext4  15G
LV  vg0  swap  swap  swap   6G
PART  lvm    vg1    all
